@use '@/styles/jhm' as *;

.articlesList {
  list-style: none;
  padding: 0;
}

$item-inset: 14px;

.articleListItem {
  margin: 0 #{-$item-inset};
}

.articleItem {
  display: grid;
  gap: 8px;
  padding: $inset;
}

.articleWrittenAt {
  font-size: 16px;
  font-weight: 500;
  color: var(--jhm-secondary-text-color);
}

.articleTitle {
  font-size: 30px;
  font-weight: 800;
}

.newButton {
  margin-bottom: 20px;
}
