@use '@/styles/jhm' as *;

.introduction {
  display: grid;
  grid-template-columns: 1fr 300px;
  gap: 40px;
}

.portrait {
  width: 100%;
  position: relative;
  overflow: hidden;
  border-radius: var(--jhm-border-radius);

  &::before {
    content: '';
    display: block;
    padding-bottom: 100%;
  }

  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    display: flex;
  }
}

.subtitle {
  font-size: 26px;
  font-weight: 700;
}

.manifesto {
  p {
    @include paragraph;
  }
}

.moreIcon {
  font-size: 0.8em;
  font-weight: bold;
  margin-left: 5px;
}

@include smaller-than(700px) {
  .introduction {
    grid-template-columns: 1fr;
  }

  .manifesto {
    order: 1;
  }

  .portrait {
    order: 0;
  }
}

.section {
  margin-top: 100px;
}

.projects {
  display: grid;
  gap: 50px;

  .projectsList {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 10px;
    margin: 0 #{-$inset};

    .projectItem {
      letter-spacing: 0;
      // background-color: var(--jhm-tertiary-background-color);
      border-radius: var(--jhm-border-radius);
      display: grid;
      grid-template-columns: 1fr min-content;
      gap: 10px;
      align-items: center;
      padding: $inset;

      .projectInfo {
        display: grid;
        grid-auto-rows: min-content;
        gap: 5px;
      }

      .projectName {
        font-size: 16px;
        font-weight: 600;
      }

      .projectDescription {
        color: var(--jhm-secondary-text-color);
        font-size: 16px;
        font-weight: 400;
        line-height: 1.4;
      }
    }
  }
}
