@use '@/styles/jhm' as *;

.wrapper {
}

.introduction {
  display: grid;
  grid-template-columns: 1fr 300px;
  gap: 40px;
}

.apple-music {
  display: inline-flex;
  align-items: baseline;
}

.apple-music-text {
  display: none;
}

.logo-apple {
  position: relative;
  margin-left: -0.08em;
  transform: translateY(0.074em);

  .hello {
    display: none;
  }
}

.portrait {
  width: 100%;
  position: relative;
  overflow: hidden;
  border-radius: var(--jhm-border-radius);

  &::before {
    content: '';
    display: block;
    padding-bottom: 100%;
  }

  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;

    &.light {
      top: -10%;
    }
  }

  .caption {
    position: absolute;
    bottom: 4px;
    right: 4px;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0.5px;
    color: rgba($color: #fff, $alpha: 0.7);
    background-color: rgba($color: #000, $alpha: 0.2);
    opacity: 0.8;
    padding: 4px 8px;
    border-radius: 6px;
    backdrop-filter: blur(30px);
  }
}

.subtitle {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 30px;
}

.manifesto {
  p {
    @include paragraph;
  }
}

.moreIcon {
  font-size: 0.8em;
  font-weight: bold;
  margin-left: 5px;
}

@include smaller-than(700px) {
  .introduction {
    grid-template-columns: 1fr;
  }

  .manifesto {
    order: 1;
  }

  .portrait {
    order: 0;
  }
}

.home-section {
  margin-top: 100px;
}

.education-and-work {
  display: flex;

  & > * {
    flex: 1;
    min-width: 0;
  }

  $threshold: 600px;

  @include larger-than($threshold + 1px) {
    & > *:not(:first-child) {
      margin-left: 50px;
    }
  }

  @include smaller-than($threshold) {
    flex-direction: column;
  }
}

.section-item {
  &:not(:first-child) {
    margin-top: 20px;
  }
}

.section-item-title {
  font-size: 18px;
  font-weight: 600;
}

.section-item-description {
  font-size: 16px;
  font-weight: 500;
  color: var(--jhm-secondary-text-color);
  margin-top: 6px;
}

.projects {
  display: grid;

  .geullim {
    --geullim-theme: #b2ebe9;

    @include dark-mode {
      --geullim-theme: #53c0c8;
    }

    position: relative;
    margin-bottom: 20px;
    border-radius: 30px;

    @include smaller-than(500px) {
      border-radius: 20px;
    }

    .geullimBorder {
      position: absolute;
      top: 6px;
      left: 6px;
      width: calc(100% - 12px);
      height: calc(100% - 12px);

      .geullimRect {
        @include smaller-than(500px) {
          stroke-width: 8;
          stroke-dasharray: 20 20;
          rx: 20px;
          ry: 20px;
        }
      }
    }

    .container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 20px;
      padding: 48px 48px;

      @include smaller-than(500px) {
        padding: 32px;
      }
    }

    .geullimThumb {
      display: flex;
      width: 100%;

      max-width: 450px;

      img {
        width: 100%;
      }
    }
  }

  .woowacon23 {
    margin-bottom: 20px;
    background-color: #000;

    .container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 20px;
      padding: 32px 48px;

      @include smaller-than(500px) {
        padding: 32px;
      }
    }

    .woowacon23Logo {
      width: 180px;

      @include smaller-than(500px) {
        width: 150px;
      }
    }

    .baedalScience {
      display: flex;
      width: 100%;

      img {
        width: 100%;
      }
    }
  }

  .recentWorksContainer {
    display: flex;
    align-items: flex-start;
    gap: 20px;
    margin-bottom: 25px;

    @include smaller-than(720px) {
      flex-direction: column;

      .recentWork {
        width: 100%;
      }
    }
  }

  .recentWork {
    flex: 1;
    position: relative;
    padding: 30px 20px 40px;

    .label {
      font-size: 10px;
      font-weight: 500;
      padding: 5px 12px;
      border-radius: 100px;
      margin-bottom: 15px;
      letter-spacing: 0.1px;
    }

    .title {
      font-size: 32px;
      font-weight: 600;

      display: flex;
      align-items: center;
    }

    .container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    &.poker {
      --background: radial-gradient(
        125.75% 125.75% at 50% -2.2%,
        #fff 0%,
        #e5e5e5 100%
      );
      --label-text-color: #fff;

      @include dark-mode {
        --background: radial-gradient(
          125.75% 125.75% at 50% -2.2%,
          #434343 0%,
          #1a1a1a 100%
        );
        --label-text-color: #e0e0e0;
      }

      background: var(--background);

      .label {
        background-color: #000;
        color: var(--label-text-color);
      }
    }

    &.everymoji {
      --background: linear-gradient(113deg, #c0deff 8.48%, #ada9f3 83.75%);
      --label-text-color: #fff;
      --label-background-color: #{rgba(#4277ff, 0.5)};
      --title-text-color: #fff;

      background: var(--background);

      .label {
        background-color: var(--label-background-color);
        color: var(--label-text-color);
      }

      .title {
        color: var(--title-text-color);
        text-shadow: 0 2px 8px rgba(#000, 0.2);
      }

      @include dark-mode {
        --background: linear-gradient(113deg, #2f69a8 8.48%, #361e92 83.75%);
        --label-text-color: #d8d6de;
        --label-background-color: rgb(19 32 65 / 50%);
        --title-text-color: #d4d5dd;

        .title {
          text-shadow: none;
        }
      }
    }
  }

  .filters {
    margin-bottom: 20px;
    overflow: hidden;

    height: 31px;

    position: relative;

    .scrollContainer {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      align-items: center;
      justify-content: flex-start;
      gap: 2px;

      overflow-x: auto;

      padding-bottom: 27px;

      // border-top: 1px solid var(--jhm-secondary-background-color);

      .filter {
        flex: none;
        cursor: default;
        border-radius: 4px;
        font-size: 14px;
        padding: 6px 12px;

        color: var(--jhm-secondary-text-color);

        transition: background-color 0.2s ease, transform 100ms ease;
        will-change: transform;

        &:hover {
          color: var(--jhm-primary-text-color);
          background-color: var(--jhm-tertiary-background-color);
        }

        &:active {
          transform: scaleY(0.94);
        }

        &.selected {
          color: var(--jhm-primary-text-color);
          background-color: var(--jhm-secondary-background-color);
        }
      }
    }

    .shader {
      position: absolute;
      top: 0;
      height: 100%;
      width: 60px;
      pointer-events: none;

      opacity: 0;

      transition: opacity 200ms ease;

      &.visible {
        opacity: 1;
      }

      --shader-color-start: rgba(255, 255, 255, 1);
      --shader-color-end: rgba(255, 255, 255, 0);

      @include dark-mode {
        --shader-color-start: rgba(17, 17, 17, 1);
        --shader-color-end: rgba(17, 17, 17, 0);
      }

      &.left {
        left: 0;
        background: linear-gradient(
          to right,
          var(--shader-color-start) 0%,
          var(--shader-color-end) 100%
        );
      }

      &.right {
        right: 0;
        background: linear-gradient(
          to left,
          var(--shader-color-start) 0%,
          var(--shader-color-end) 100%
        );
      }
    }

    .scrollTo {
      width: 20px;
      height: 20px;
      position: absolute;
      top: calc(50% - 1px);
      transform: translateY(-50%);
      cursor: pointer;
      backdrop-filter: blur(30px);

      opacity: 0;
      pointer-events: none;

      transition: opacity 200ms ease;

      &.visible {
        opacity: 1;
        pointer-events: auto;
      }

      &.left {
        left: 0;
      }

      &.right {
        right: 0;
      }
    }
  }

  .projects-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 10px;
    margin: 0 #{-$inset};

    @include smaller-than(500px) {
      grid-template-columns: 1fr;
    }

    .project-item {
      letter-spacing: 0;
      // background-color: var(--jhm-tertiary-background-color);
      border-radius: var(--jhm-border-radius);
      display: grid;
      grid-template-columns: 1fr min-content;
      gap: 10px;
      align-items: center;
      padding: $inset;

      .project-info {
        display: grid;
        grid-auto-rows: min-content;
        gap: 5px;
      }

      .project-name {
        font-size: 16px;
        font-weight: 600;
        display: grid;
        grid-template-columns: auto 1fr;
        align-items: center;
        gap: 6px;
      }

      .project-description {
        color: var(--jhm-secondary-text-color);
        font-size: 16px;
        font-weight: 400;
        line-height: 1.4;
      }

      .project-links {
        display: flex;
        flex-direction: column;
        gap: 2px;

        a {
          display: flex;
          align-items: center;
          gap: 4px;
          font-size: 14px;
          color: var(--jhm-point-color);
        }
      }
    }
  }

  .seeAllProjects {
    background-color: transparent;
    border: none;
    font-size: 15px;
    color: var(--jhm-point-color);
    margin-top: 20px;
    cursor: pointer;

    transition: opacity 150ms ease;

    &:hover {
      opacity: 0.6;
    }
  }
}

.embeds {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  gap: 40px;

  @include smaller-than(500px) {
    grid-template-columns: 1fr;
  }

  .embedded-video-wrapper {
    position: relative;
    overflow: hidden;

    &::before {
      content: '';
      display: block;
      padding-bottom: 56.25%;
    }
  }

  .embedded-video {
    position: absolute;
    top: 0;
    left: 0;

    width: calc(100% + 2px);
    height: calc(100% + 2px);

    margin: -1px;
  }
}
