@font-face {
  font-family: 'Interop';
  src: url('/fonts/Interop-Light.woff2') format('woff2'),
    url('/fonts/Interop-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'Interop';
  src: url('/fonts/Interop-ExtraBold.woff2') format('woff2'),
    url('/fonts/Interop-ExtraBold.woff') format('woff');
  font-weight: 800;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'Interop';
  src: url('/fonts/Interop-Bold.woff2') format('woff2'),
    url('/fonts/Interop-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'Interop';
  src: url('/fonts/Interop-ExtraLight.woff2') format('woff2'),
    url('/fonts/Interop-ExtraLight.woff') format('woff');
  font-weight: 200;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'Interop';
  src: url('/fonts/Interop-Medium.woff2') format('woff2'),
    url('/fonts/Interop-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'Interop';
  src: url('/fonts/Interop-Regular.woff2') format('woff2'),
    url('/fonts/Interop-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'Interop';
  src: url('/fonts/Interop-SemiBold.woff2') format('woff2'),
    url('/fonts/Interop-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'Interop';
  src: url('/fonts/Interop-Thin.woff2') format('woff2'),
    url('/fonts/Interop-Thin.woff') format('woff');
  font-weight: 100;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'Framework7 Icons';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/Framework7Icons-Regular.eot');
  src: url('/fonts/Framework7Icons-Regular.woff2') format('woff2'),
    url('/fonts/Framework7Icons-Regular.woff') format('woff'),
    url('/fonts/Framework7Icons-Regular.ttf') format('truetype');
  font-display: block;
}

.f7-icons,
.framework7-icons {
  font-family: 'Framework7 Icons';
  font-weight: normal;
  font-style: normal;
  /* font-size: 28px; */
  font-size: 1em;
  vertical-align: baseline;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-feature-settings: 'liga';
  -moz-font-feature-settings: 'liga=1';
  -moz-font-feature-settings: 'liga';
  font-feature-settings: 'liga';
  text-align: center;
}

/* Cascadia Code */

@font-face {
  font-family: 'Cascadia Code';
  src: url('/fonts/CascadiaCode-Bold.woff2') format('woff2'),
    url('/fonts/CascadiaCode-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Cascadia Code';
  src: url('/fonts/CascadiaCode-BoldItalic.woff2') format('woff2'),
    url('/fonts/CascadiaCode-BoldItalic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Cascadia Code';
  src: url('/fonts/CascadiaCode-ExtraLight.woff2') format('woff2'),
    url('/fonts/CascadiaCode-ExtraLight.woff') format('woff');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Cascadia Code';
  src: url('/fonts/CascadiaCode-ExtraLightItalic.woff2') format('woff2'),
    url('/fonts/CascadiaCode-ExtraLightItalic.woff') format('woff');
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Cascadia Code';
  src: url('/fonts/CascadiaCode-Italic.woff2') format('woff2'),
    url('/fonts/CascadiaCode-Italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Cascadia Code';
  src: url('/fonts/CascadiaCode-Light.woff2') format('woff2'),
    url('/fonts/CascadiaCode-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Cascadia Code';
  src: url('/fonts/CascadiaCode-LightItalic.woff2') format('woff2'),
    url('/fonts/CascadiaCode-LightItalic.woff') format('woff');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Cascadia Code';
  src: url('/fonts/CascadiaCode-SemiBold.woff2') format('woff2'),
    url('/fonts/CascadiaCode-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Cascadia Code';
  src: url('/fonts/CascadiaCode-Regular.woff2') format('woff2'),
    url('/fonts/CascadiaCode-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Cascadia Code';
  src: url('/fonts/CascadiaCode-SemiBoldItalic.woff2') format('woff2'),
    url('/fonts/CascadiaCode-SemiBoldItalic.woff') format('woff');
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Cascadia Code';
  src: url('/fonts/CascadiaCode-SemiLight.woff2') format('woff2'),
    url('/fonts/CascadiaCode-SemiLight.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Cascadia Code';
  src: url('/fonts/CascadiaCode-SemiLightItalic.woff2') format('woff2'),
    url('/fonts/CascadiaCode-SemiLightItalic.woff') format('woff');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}
