@use './fonts.css';
@use './jhm' as *;

:root {
  --jhm-body-font-size: 16px;
  --jhm-primary-background-color: #fff;
  --jhm-secondary-background-color: #f0f0f2;
  --jhm-tertiary-background-color: #f7f7f8;
  --jhm-active-background-color: #fff;
  --jhm-primary-text-color: #222;
  --jhm-secondary-text-color: #808080;
  --jhm-point-color: #0099ff;

  @include dark-mode {
    --jhm-primary-background-color: #111;
    --jhm-secondary-background-color: #222;
    --jhm-tertiary-background-color: #1d1d1d;
    --jhm-active-background-color: #333;
    --jhm-primary-text-color: #cccccc;
    --jhm-secondary-text-color: #979797;
    --jhm-point-color: #1757ce;
  }
}

[data-page='articles'] {
  --jhm-primary-background-color: #f1eadd;
  --jhm-secondary-background-color: #dacebb;
  --jhm-tertiary-background-color: #dbcfb9;
  --jhm-active-background-color: #faf6ef;
  --jhm-primary-text-color: #58431d;
  --jhm-secondary-text-color: #927341;
  --jhm-point-color: #c25812;
}

@include dark-mode {
  [data-page='articles'] {
    --jhm-primary-background-color: #251b05;
    --jhm-secondary-background-color: #382b12;
    --jhm-tertiary-background-color: #36280a;
    --jhm-active-background-color: #52452b;
    --jhm-primary-text-color: #ebdec5;
    --jhm-secondary-text-color: #af915d;
    --jhm-point-color: #f3ba1e;
  }
}

[data-page='photography'] {
  --jhm-primary-background-color: #dfe8f0;
  --jhm-secondary-background-color: #c4d0dc;
  --jhm-tertiary-background-color: #dfe8f0;
  --jhm-active-background-color: #333;
  --jhm-primary-text-color: #2a5073;
  --jhm-secondary-text-color: #69849e;
  --jhm-point-color: #0485ff;
}

@include dark-mode {
  [data-page='photography'] {
    --jhm-primary-background-color: #131e29;
    --jhm-secondary-background-color: #202f3d;
    --jhm-tertiary-background-color: #17232e;
    --jhm-active-background-color: #333;
    --jhm-primary-text-color: #aac2d7;
    --jhm-secondary-text-color: #596d80;
    --jhm-point-color: #29fff1;
  }
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: Interop, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: var(--jhm-secondary-background-color);
}

html {
  scroll-behavior: smooth;
}

body {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -o-font-smoothing: antialiased;
  color: var(--jhm-primary-text-color);
  font-size: 18px;
  letter-spacing: -0.01em;
  transition: background-color $theme-change-duration ease,
    color $theme-change-duration ease;
  -webkit-tap-highlight-color: transparent;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

* {
  box-sizing: border-box;
  margin: 0;
}

p,
h1,
h2,
h3,
h4 {
  line-height: 1.2;
}

img {
  pointer-events: none;
  user-select: none;
}

code {
  font-family: 'Cascadia Code', monospace;
  font-size: 0.9em;
}
