@use './variables' as *;

@mixin dark-mode {
  @media (prefers-color-scheme: dark) {
    @content;
  }
}

@mixin smaller-than($width) {
  @media only screen and (max-width: $width) {
    @content;
  }
}

@mixin larger-than($width) {
  @media only screen and (min-width: $width) {
    @content;
  }
}

@mixin paragraph {
  font-size: 20px;
  font-weight: 600;
  line-height: 1.4;

  & + * {
    margin-top: 1em;
  }
}

@mixin hover {
  @media (hover: hover) {
    &:hover {
      @content;
    }
  }
}

@mixin hoverable {
  border-radius: $border-radius;
  transition: background-color 200ms ease, box-shadow 200ms ease;

  @include hover {
    background-color: var(--jhm-active-background-color);
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 10px 15px rgba(0, 0, 0, 0.12);
  }
}
