@use './variables' as *;

@mixin dark-mode {
  @media (prefers-color-scheme: dark) {
    @content;
  }
}

@mixin smaller-than($width) {
  @media only screen and (max-width: $width) {
    @content;
  }
}

@mixin larger-than($width) {
  @media only screen and (min-width: $width) {
    @content;
  }
}

@mixin paragraph {
  font-size: 20px;
  font-weight: 600;
  line-height: 1.4;

  & + * {
    margin-top: 1em;
  }
}

@mixin hover {
  @media (hover: hover) {
    &:hover {
      @content;
    }
  }
}
